.linkButton {
    text-decoration: none;
    text-transform: uppercase;
    color: $violet;
    text-align: center;
    border: 6px solid $violet;
    margin-top: 2rem;
    border-radius: 10px;
    display: block;
    width: 300px;
    margin: 2rem auto;

    &:hover {
        background-color: $violet;
        color: #fff;
        transition: all linear .1s;
    }
}