.page {
    padding: 0 10vw;
    height: 100vh;

    &_header {
        display: flex;
        align-items: center;
        padding-top: 2.4rem;

        &_button {}

        &_title {
            text-transform: uppercase;
            font-size: 36px;
            font-weight: 500;
            background: $white;
            padding: 13px 40px;
            border-radius: 15px;
            margin: 0 auto;
            display: inline;
            position: absolute;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            margin-top: 4rem;
            cursor: default;

            &_pink {
                color: $pink;
            }

            &_violet {
                color: $violet;
            }

            &_yellow {
                color: $yellow;
            }

            &_purple {
                color: $purple;
            }

        }
    }

    &_content {
        margin-top: 3rem;
    }


}

.page_about {
    background: $purple;

    .about_avatar {
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        width: 270px;
        height: 270px;
        border: 30px solid white;

        img {
            width: 180%;
            height: 100%;
            object-fit: cover
        }
    }

    .about {
        &_main-info {
            font-weight: 500;
            color: $white;
            font-size: 36px;

            display: flex;
            align-items: center;
            justify-content: center;

            &_text {
                margin-left: 6rem;
            }
        }

        &_dop-info {
            font-weight: 400;
            color: $purple;
            font-size: 24px;
            background: $white;
            border-radius: 15px;
            padding: 20px 40px;
            margin: 4rem auto 0 auto;
            width: fit-content;
        }
    }
}

.page_links {
    background: $pink;

    .links_list {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 8rem;

        .link {
            cursor: pointer;

            & img {
                transition: all ease .2s;
            }

            &:hover {
                img {
                    transform: rotateZ(15deg);
                    transition: all ease .2s;
                }
            }
        }
    }
}

.page_skills {
    background: $yellow;
}

.page_works {
    background: $violet;
}