@import "./pages/page_workdetail";
@import "./pages/page_workslist";
@import "./pages/pageabout";
@import "./pages/pagelinks";
@import "./pages/pageskills";
@import "./pages/pageworks";

.page {
    padding: 0 10vw;
    min-height: 100vh;
    padding-bottom: 1px;
    background: $violet !important;

    &_header {
        display: flex;
        align-items: center;
        padding-top: 2.4rem;

        &_button {
            transition: all .2s ease;

            &:hover {
                transform: scale(1.1);
                transition: all .2s ease;
            }
        }

        &_button_home {
            position: absolute;
            right: 10vw;
            transition: all .2s ease;

            &:hover {
                transform: scale(1.1);
                transition: all .2s ease;
            }
        }

        &_title {
            text-transform: uppercase;
            font-size: 36px;
            font-weight: 500;
            background: $white;
            padding: 13px 40px;
            border-radius: 15px;
            margin: 0 auto;
            display: inline;
            position: absolute;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            margin-top: 4rem;
            cursor: default;

            &_pink {
                color: $pink;
            }

            &_violet {
                color: $violet;
            }

            &_yellow {
                color: $yellow;
            }

            &_purple {
                color: $purple;
            }

        }
    }

    &_content {
        margin-top: 3rem;
    }


}