$purple: #AB6C8C;
$violet: #685D79;
$pink: #D8737F;
$yellow: #FCBB6D;
$white: #F9F9FF;

// $darker_purple: #925d78;
// $darker_violet: #51485e;
// $darker_pink: #c06671;
// $darker_yellow: #dfa55e;